# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/


# macOS
.DS_Store


# Editors
.vscode/
.idea/


# HA
.storage/
.HA_VERSION
home-assistant*.db*
*.log*
.ha_run.lock
.cloud/
deps/
tts/
blueprints/
custom_components/

# Environment variables
.env
.env.local

# Testing
.coverage
htmlcov/
.pytest_cache/
.tox/

# Logs
*.log

# Temporary files
*.tmp
*.swp
*~

# Build artifacts (falls zukünftig verwendet)
build/
dist/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
